.leftimg{
    height:25rem;
    width:100%;
 }
 .rightimg
 {
   width:100%;
   height:25rem;
 }
 .container{
     margin:0;
     margin-bottom: 10rem;
 }
 .typewriterh1,.typewriterh2 {
   color: rgb(250, 250, 250);
   font-family: monospace;
   overflow: hidden; 
   border-right: 0.15em solid orange; 
   white-space: nowrap;
   margin: 0 auto; 
   letter-spacing: .15em;
   
    
    animation: 
     typing 3.5s steps(30, end),
     blink-caret .5s step-end infinite;
   
 }
 
 
 @keyframes typing {
   from { width: 0 }
   to { width: 100% }
 }
 
 
 @keyframes blink-caret {
   from, to { border-color: transparent }
   50% { border-color: orange }
 }